h1{
    color: brown;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: darkkhaki;
    padding: 50px;
    border: 10px;
}
spanId{
    font-size: 18px;

}